
  .my-component-container {
    background-color: #f2f2f2;
    margin: 0;
    padding-top: 60px; 
    padding-left: 300px;
    padding-right: 20px;
  }
  
  /* Estilos del encabezado */
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .title {
    font-size: 24px;
    font-weight: bold;
  }

  .event-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .search-bar-myEvent {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    background-color: #e4e4e4;
    padding: 10px;
    border-radius: 8px;
    width: 100%;
  }
  
  .search-icon-myEvent {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
  
  .search-input-myEvent {
    border: none;
    outline: none;
    background: none;
    flex-grow: 1;
    width: 100%;
  }
  
  .search-input-myEvent::placeholder {
    color: #666;
  }