.register-container {
  display: flex;
  height: 100vh;
}

.register-image-container {
  flex: 1;
  position: relative;
  height: auto;
}

.register-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0px 40px 40px 0px;
}

.register-form-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

.register-form-content {
  max-width: 400px;
  margin: 30px;
  width: 100%;
  height: 100%;
  margin-top: auto;
  overflow-y: scroll;
}

.register-form-content h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.register-form-content p {
  margin-bottom: 1rem;
}

.register-highlight {
  font-weight: 600;
  color: rgba(12, 155, 200, 1);
}

.register-input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.register-input-group label {
  margin-bottom: 0.5rem;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
}

.register-input-wrapper {
  display: flex;
  align-items: center;
}

.register-input-icon {
  margin-right: 0.5rem;
  width: 15px;
  height: 15px;
}

.register-input {
  width: 100%;
  padding: 0.5rem;
  border: none;
  outline: none;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
}

.register-input-underline {
  width: 100%;
  height: 2px;
  background-color: #000;
  margin-top: 0.5rem;
}

.register-button {
  width: 100%;
  padding: 0.75rem;
  background-color: rgba(12, 155, 200, 1);
  color: white;
  border: none;
  border-radius: 5px;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  cursor: pointer;
  margin-bottom: 60px;
  margin-top: 30px;
}

.register-error-message {
  color: red;
  margin-top: 1rem;
}

.register-text {
  margin-bottom: 15%;
}
